<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

    <title>kadmiral - kubernetes management as a service</title>
    <style>
        .form-control {
            max-width: 100%;
        }
        
        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, 0.1);
            border: solid rgba(0, 0, 0, 0.15);
            border-width: 1px 0;
            box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
        }
    </style>
</head>

<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="#home" class="nav-link" aria-current="page">Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="#features" class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#pricing" class="nav-link">Pricing</a>
                </li>
                <li class="nav-item">
                    <a href="#should-i-use" class="nav-link">Should you?</a>
                </li>

                <!-- <li class="nav-item">
                    <a href="#" target="_blank" class="nav-link">Sign in</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="#faq" class="nav-link">FAQ</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="#about" class="nav-link">About</a>
                </li> -->
            </ul>
        </header>
    </div>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/logo.png" alt="" width="300" />
        <h1 class="display-5 fw-bold">kadmiral</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                kubernetes + dev experience + devops peace of mind
            </p>
            <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                        Primary button
                    </button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">
                        Secondary
                    </button>
            </div> -->
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container px-4 py-5 mx-auto" id="should-i-use">
        <h2 class="pb-2 border-bottom">I'm not sure kadmiral is for me</h2>

        <div class="row">
            <div class="col">
                <form class="g-3 mb-4 sb-4 mx-auto">
                    <div class="input-group mb-3">
                        <label class="input-group-text list-group-item-primary" for="inputGroupSelect01 ">I'm a
                            </label>
                        <select @change="form_topic_changed" v-model="selected_profession" id="select-profession " name="profession " class="form-select form-control-lg" aria-label="Select what best describes your role ">
                                <option value>Choose...</option>
                                <option
                                    v-bind:value="profession.value"
                                    v-for="profession in professions()"
                                >
                                    {{profession.text}}
                                </option>
                            </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text list-group-item-primary" for="inputGroupSelect01 ">and I
                            </label>
                        <select @change="form_topic_changed" v-model="selected_feeling" id="select-feeling " name="feeling " class="form-select form-control-lg" aria-label="Select how you feel about kubernetes ">
                                <option value>Choose...</option>
                                <option
                                    v-bind:value="feeling.value"
                                    v-for="feeling in feelings()"
                                >
                                    {{feeling.text}}
                                </option>
                            </select>
                        <label class="input-group-text list-group-item-primary" for="inputGroupSelect02 ">
                                kubernetes</label
                            >
                        </div>
                        <div class="input-group mb-3">
                            <label
                                class="input-group-text list-group-item-primary"
                                for="inputGroupSelect01 "
                                >because
                            </label>
                        <select @change="form_topic_changed" v-model="selected_topic" id="select-reason " name="feeling " class="form-select form-control-lg" aria-label="Select how you feel about kubernetes ">
                                <option value>Choose...</option>
                                <option
                                    v-bind:value="topic.value"
                                    v-for="topic in topics()"
                                >
                                    {{topic.text}}
                                </option>
                            </select>
                    </div>
                </form>
            </div>

            <div class="col" v-if="this.selected_topic">
                <div>{{topic_db[selected_topic]['description']}}</div>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="features">
        <h2 class="pb-2 border-bottom">What kadmiral is</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-stretch">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Kubernetes management
                        </h5>

                        <p class="card-text">
                            SWe'll deploy, update and configure kubernetes for you, in your chosen cloud provider. No strings attached.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col d-flex align-items-stretch">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Developer Dashboard
                        </h5>

                        <p class="card-text">
                            Easy to use dashboard and cli that abstracts kubernetes deployments. One place to create, deploy, rollback, configuration, and read logs.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col d-flex align-items-stretch">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Opinionated solution
                        </h5>

                        <p class="card-text">
                            We figure out the best settings for kubernetes and supporting open source apps. And although we'll leave some room for custom configuration where possible, this is not a rule.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="pb-2 border-bottom">What kadmiral is not</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-stretch">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title text-primary">PAS</h5>

                        <p class="card-text">
                            Although you can argue that we are a PAS-like solution, everything works in your chosen cloud providers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-stretch">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Consultancy</h5>

                        <p class="card-text">
                            kadmiral deploys to your infrastructure. All the process is automated, all the infrstructure is yours. kadmiral support will help you solve problems only in the clusters we deployed.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-stretch">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Silver Bullet
                        </h5>

                        <p class="card-text">
                            If your app a billion dollar social network or a wolrdwide known streaming platform, we might not be the best fit for your main platform. But we can help a lot by handling all your more standard apps while you focus your precious ops and devs to your
                            core business apps.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="pricing">
        <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Developer</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Free</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>CLI for devs</li>
                            <li>Application Dashboard</li>
                            <li>One cluster</li>
                            <li>Single Cloud Provider</li>
                        </ul>
                        <button type="button " class="w-100 btn btn-lg btn-primary">
                                Get started
                            </button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="
                                card-header
                                py-3
                                text-white
                                bg-primary
                                border-primary
                            ">
                        <h4 class="my-0 fw-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            TBA
                            <!-- $??<small class="text-muted fw-light ">/mo</small
                                > -->
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Unlimited Clusters</li>
                            <li>Mutual TLS and Mesh</li>
                            <li>Multicloud</li>
                            <li>Cost Explorer</li>
                        </ul>
                        <button type="button " class="w-100 btn btn-lg btn-primary">
                                Contact us
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <!-- <div class="b-example-divider "></div> -->
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a href="# " class="nav-link px-2 text-muted">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#features " class="nav-link px-2 text-muted">Features</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="#should-i-use "
                            class="nav-link px-2 text-muted"
                            >Should I?</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="#pricing " class="nav-link px-2 text-muted"
                            >Pricing</a
                        >
                    </li>
                </ul>
                <p class="text-center text-muted">© 2021 Kadmiral, Inc</p>
            </footer>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js "
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj "
            crossorigin="anonymous "
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2 "></script>

        <script src="/app.js "></script>
        <!-- Mailchimp -->
        <script id="mcjs">
            !(function (c, h, i, m, p) {
                (m = c.createElement(h)),
                    (p = c.getElementsByTagName(h)[0]),
                    (m.async = 1),
                    (m.src = i),
                    p.parentNode.insertBefore(m, p);
            })(
                document,
                "script",
                "https://chimpstatic.com/mcjs-connected/js/users/01ce99b5bfe2b3b98bea968db/186a89705383eece4e47c1384.js"
            );
        </script>
        <!-- Google Analytics -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-LE1SR2GPFH"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-LE1SR2GPFH");
        </script>
    </body>
</html>